body{
  background-image: url('../assests/hero-image.jpeg');
  opacity: 0.9;
  background-size: cover;
}

h1,h2{
  color: #fff;
}

.icon{
  position: absolute;
  right:10px;
  top:0px;
  cursor: pointer;
  font-size: 20px;
}

.container{
  margin-top: 30px;
}

.detail{
  margin-right: 10px;
  cursor: pointer;
  position: absolute;
  top:20px;
}

.delete{
  position: absolute;
  top:18px;
  right:20px;
  font-size: 20px;
}

.progress-bar{
  background-color:#8ba1b3;
}

.btn{
  border-radius: 0;
}

.content{
  margin-top: 5px;
}

.heroName{
  font-size: 20px;
  display: inline-block;
}

h4{
  font-size: 18px;
}

.clear::after{
  content: "";
  display: block;
  clear: both;
}

.link{
  float: right;
  font-size: 20px;
  margin-top: 40px;
  color: #fff;
}
